/.idea/
/.venv/
/.venv_for_module_11_2/
/.venv_for_module_13/
/Памятка/
/requirements.txt
Модуль 13. Основы асинхронного программирования на базе фреймворка aiogram/bot.py
Модуль 14. Библиотека для работы с данными/__pycache__/
Модуль 14. Библиотека для работы с данными/not_telegram.db
Модуль 14. Библиотека для работы с данными/api.py
requirements_module_13.txt
requirements_module_11.txt
Модуль 16. Библиотеки для работы с ресурсами 1.1/main.py
Модуль 16. Библиотеки для работы с ресурсами 1.1/__pycache__/
