{% extends "fourth_task\menu.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Корзина </title>
    </head>
    <body>
        <pagename>
            {% block pagename %}
            <h1>Корзина</h1>
            {%endblock%}
        </pagename>

        <menu>
            {%block menu%}
            {{block.super}}
            {%endblock%}
        </menu>

        <content>
            {%block content%}
            <p>
                <h3>
                    Извините, ваша корзина пуста
                </h3>
            </p>
            {%endblock%}
        </content>
    </body>
</html>